@page
@model Veterinaria.App.Presentacion.Pages.HistoriaModel
@{
}

<br>

@if(Model.mensaje != null){
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
		@Model.mensaje
	</div>
}
<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Historia Clinica de @Model.mascotaActual.Nombre</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-route-idMascota="@Model.mascotaActual.Id" asp-route-idCuidador="@Model.idCuidador"
            asp-page="/AdminMascotas/AdminMascotas" class="btn btn-primary">Regresar</a>
    </div>

    @if (Model.historias.Count() > 0)
    {
        <form method="POST">
        <div class="row justify-content-center">
        @foreach (var item in Model.historias)
        {
            <div class="card mx-1 my-1 pl-0 w-33">
                <div class="card-body">
                    <h4 class="card-title">Tipo de Consulta: @item.TipoConsulta</h4>
                    <h6 class="card-title"><b>Fecha de Consulta: </b>@item.FechaConsulta</h6>
                    <p class="card-text"><b>Procedimiento: </b> @item.Diagnostico</p>
                    <button asp-route-idHistoria="@item.Id" asp-route-idCuidador="@Model.idCuidador" asp-page-handler="ELiminar"
							onclick="return confirm('Esta seguro de eliminar la historia?')"
							class="btn btn-danger btn-sm">Eliminar</button>
                    <a class="btn btn-primary btn-sm" asp-page="/AdminHistorias/EditarHistoria" asp-route-idHistoria="@item.Id" asp-route-idCuidador="@Model.idCuidador">Editar</a>
                </div>
            </div>
        }
        </div>
        </form>
    }
    else
    {
        <div>No tiene historia</div>
    }
    </div>
